:root{
    --pt: 'PT Serif', serif;
    --pop: 'Poppins', sans-serif;
    --mont: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.heading{
    font-family: var(--pt);
    font-size:36px;
    font-weight: 700;
    letter-spacing: -4.5%;
    position: absolute;
    top:110px;
    left:243px;
}

.second-heading{
    font-family: var(--pop);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    top:110px;
    left:736px;
}

.team-intro{
    font-family:var(--pop);
    font-size:18px;
    font-weight: 400;
    line-height: 27px;
    position: absolute;
    top:147px;
    left:736px;
    width:439px;
    height:87px;
}

.team-1{
    margin-top: 96px;
    position: relative;
}
.team-2{
     margin-top: 35rem;
    position: relative;
}
/* .photo1,.photo2,.photo3, img{
    width:238px;
    height: auto;
} */
.name{
    font-family:var(--pop);
    font-weight: 600;
    font-size:18px;
    padding-top:15px;
}
.designation{
    font-family:var(--pt);
    font-size: 12px;
    font-weight: 400;
    position:absolute;

}
/* .team{
    position: relative;
    top:244px;
    left:240px;
} */
.photo1{
    position: absolute;
    top:224.5px;
    left:240px;
    width:238px;
    height: auto;
}


.name1{
    position: relative   ;
    top:585px;
    left:240px;
}

.designation1{
    position: absolute;
    top:279px;
    left:435px;
    transform: rotate(90deg)
}

.designation4{
    position: absolute;
    top:279px;
    left:450px;
    transform: rotate(90deg)
}


.photo2{
    position: absolute;
    top:396px;
    left:550px;
    width:238px;
    height: auto;
}

.name2{
    position: relative   ;
    top:740px;
    left:550px;
}

.designation2{
    position: absolute;
    top:430px;
    left:47.8rem;
    transform: rotate(90deg)
}

.photo3{
    position: absolute;
    top:224.5px;
    left:870px;
    width:238px;
    height: auto;
}

.name3{
    position: relative   ;
    top:545px;
    left:870px;
}

.designation3{
    position: absolute;
    top:15.188rem;
    left:1105.008px;
    transform: rotate(90deg);
}

footer{
    position: relative;
    top:50rem;
    text-align: center;
    font-family: var(--mont);
    font-weight: 700;
    color:#A9A9A9;
}

